body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #003f63;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header .highlight {
    color: #fdd835;
}

nav {
    background-color: #3b3b3b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fdd835;
}

main {
    display: flex;
    margin: 20px;
}

.about-me, .resources {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
}

.about-me {
    flex: 3;
}

.resources {
    flex: 1;
}

.about-me h2, .resources h2 {
    background-color: #003f63;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.about-me .content, .about-me .location {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.about-me .content p {
    flex: 2;
    padding-right: 20px;
}

.about-me .content img, .about-me .location img {
    flex: 1;
    max-width: 100%;
    border-radius: 8px;
}

.about-me .location {
    margin-top: 20px;
}

.about-me .location img {
    margin-right: 20px;
}

.about-me .location p {
    flex: 2;
}

.resources ul {
    list-style: none;
    padding: 0;
}

.resources ul li {
    margin-bottom: 10px;
}

.resources ul li a {
    text-decoration: none;
    color: #0056b3;
}

.resources ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #003f63;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer .highlight {
    color: #fdd835;
}

