/* CSS for larger screens */
header {
  padding: 20px; /* Increase header padding for larger screens */
}

nav li {
  margin: 0 15px; /* Increase margin between navigation menu items */
}

nav a {
  font-size: 18px; /* Increase font size of navigation menu items */
}

main {
  max-width: 1200
