/* temples-large.css */
@media (min-width: 601px) {
    nav ul {
      display: flex !important;
    }
  
    #hamburger-menu {
      display: none;
    }
  
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  