@media (min-width: 600px) {
  .nav-menu {
      display: flex;
      justify-content: space-around;
  }

  .hamburger {
      display: none;
  }

  main {
      max-width: 1200px;
      margin: 0 auto;
  }

  figure {
      display: inline-block;
      width: 30%;
      margin: 1%;
  }
}
